---
layout: default
title: Home
---

{% include intro.html %}
{% include supervision.html %}
{% include teaching.html %}

<section class="post-list">
  <div class="container">
  <a name="publications"></a>
  <h2 class="category-title">Research</h2>
  <span class="post-meta date-label">Selected publications:</span>
  <br>

<div class="article-title"><a class="post-link" href="https://arxiv.org/pdf/1902.04546">Actrce: augmenting experience via teacher's advice for multi-goal reinforcement learning</a>.
Chan, H., Wu, Y., Kiros, J., Fidler, S., &amp; Ba, J.
(2019).
<em>arXiv preprint arXiv:1902.04546</em>.</div><br><div class="article-title"><a class="post-link" href="https://arxiv.org/pdf/1902.07257">Dom-q-net: grounded rl on structured language</a>.
Jia, S., Kiros, J., &amp; Ba, J. (2019).
International conference on learning representation.</div><br><div class="article-title"><a class="post-link" href="https://openreview.net/forum?id=BkgWHnR5tm">Neural graph evolution: automatic robot design</a>.
Wang, T., Zhou, Y., Fidler, S., &amp; Ba, J. (2019).
International conference on learning representation.</div><br><div class="article-title"><a class="post-link" href="https://arxiv.org/pdf/1902.08234">Interplay between optimization and generalization of stochastic gradient descent with covariance noise</a>.
Wen, Y., Luk, K., Gazeau, M., Zhang, G., Chan, H., &amp; Ba, J.
(2019).
<em>arXiv preprint arXiv:1902.08234</em>.</div><br><div class="article-title"><a class="post-link" href="https://papers.nips.cc/paper/8117-reversible-recurrent-neural-networks.pdf">Reversible recurrent neural networks</a>.
MacKay, M., Vicol, P., Ba, J., &amp; Grosse, R.&nbsp;B. (2018).
Advances in neural information processing systems (pp.&nbsp;9029–9040).</div><br><div class="article-title"><a class="post-link" href="https://openreview.net/pdf?id=HyMTkQZAb">Kronecker-factored curvature approximations for recurrent neural networks</a>.
Martens, J., Ba, J., &amp; Johnson, M. (2018).
International conference on learning representation.</div><br><div class="article-title"><a class="post-link" href="https://arxiv.org/abs/1802.08249">On the convergence and robustness of training gans with regularized optimal transport</a>.
Sanjabi, M., Ba, J., Razaviyayn, M., &amp; Lee, J.&nbsp;D. (2018).
Advances in neural information processing systems (pp.&nbsp;7091–7101).</div><br><div class="article-title"><a class="post-link" href="https://openreview.net/pdf?id=S1sqHMZCb">Nervenet: learning structured policy with graph neural networks</a>.
Wang, T., Liao, R., Ba, J., &amp; Fidler, S. (2018).
International conference on learning representation.</div><br><div class="article-title"><a class="post-link" href="https://arxiv.org/pdf/1803.04386">Flipout: efficient pseudo-independent weight perturbations on mini-batches</a>.
Wen, Y., Vicol, P., Ba, J., Tran, D., &amp; Grosse, R. (2018).
International conference on learning representation.</div><br><div class="article-title"><a class="post-link" href="http://msb.embopress.org/content/msb/13/4/924.full.pdf">Automated analysis of high-content microscopy data with deep learning</a>.
Kraus, O.&nbsp;Z., Grys, B.&nbsp;T., Ba, J., Chong, Y., Frey, B.&nbsp;J., Boone, C., &amp; Andrews, B.&nbsp;J.
(2017).
<em>Molecular systems biology</em>, <em>13</em>(4), 924.</div><br><div class="article-title"><a class="post-link" href="http://papers.nips.cc/paper/7112-scalable-trust-region-method-for-deep-reinforcement-learning-using-kronecker-factored-approximation.pdf">Scalable trust-region method for deep reinforcement learning using kronecker-factored approximation</a>.
Wu, Y., Mansimov, E., Grosse, R.&nbsp;B., Liao, S., &amp; Ba, J. (2017).
Advances in neural information processing systems (pp.&nbsp;5279–5288).</div><br><div class="article-title"><a class="post-link" href="https://openreview.net/pdf?id=SkkTMpjex">Distributed second-order optimization using kronecker-factored approximations</a>.
Ba, J., Grosse, R., &amp; Martens, J. (2016).
International conference on learning representation.</div><br><div class="article-title"><a class="post-link" href="http://papers.nips.cc/paper/6057-using-fast-weights-to-attend-to-the-recent-past.pdf">Using fast weights to attend to the recent past</a>.
Ba, J., Hinton, G.&nbsp;E., Mnih, V., Leibo, J.&nbsp;Z., &amp; Ionescu, C. (2016).
Advances in neural information processing systems (pp.&nbsp;4331–4339).</div><br><div class="article-title">Layer normalization.
Ba, J., Kiros, J.&nbsp;R., &amp; Hinton, G.&nbsp;E. (2016).
arXiv preprint arXiv:1607.06450.</div><br><div class="article-title"><a class="post-link" href="https://academic.oup.com/bioinformatics/article/32/12/i52/2288769">Classifying and segmenting microscopy images with deep multiple instance learning</a>.
Kraus, O.&nbsp;Z., Ba, J.&nbsp;L., &amp; Frey, B.&nbsp;J.
(2016).
<em>Bioinformatics</em>, <em>32</em>(12), i52–i59.</div><br><div class="article-title"><a class="post-link" href="https://arxiv.org/pdf/1412.7755">Multiple object recognition with visual attention</a>.
Ba, J., Mnih, V., &amp; Kavukcuoglu, K. (2015).
International conference on learning representation.</div><br><div class="article-title"><a class="post-link" href="http://papers.nips.cc/paper/5861-learning-wake-sleep-recurrent-attention-models.pdf">Learning wake-sleep recurrent attention models</a>.
Ba, J., Salakhutdinov, R.&nbsp;R., Grosse, R.&nbsp;B., &amp; Frey, B.&nbsp;J. (2015).
Advances in neural information processing systems (pp.&nbsp;2593–2601).</div><br><div class="article-title"><a class="post-link" href="https://arxiv.org/pdf/1412.6980.pdf">Adam: a method for stochastic optimization</a>.
Kingma, D., &amp; Ba, J. (2015).
International conference on learning representation.</div><br><div class="article-title"><a class="post-link" href="https://www.cv-foundation.org/openaccess/content_iccv_2015/papers/Ba_Predicting_Deep_Zero-Shot_ICCV_2015_paper.pdf">Predicting deep zero-shot convolutional neural networks using textual descriptions</a>.
Lei&nbsp;Ba, J., Swersky, K., Fidler, S., &amp; others. (2015).
Proceedings of the ieee international conference on computer vision (pp.&nbsp;4247–4255).</div><br><div class="article-title"><a class="post-link" href="https://arxiv.org/pdf/1511.02793">Generating images from captions with attention</a>.
Mansimov, E., Parisotto, E., Ba, J.&nbsp;L., &amp; Salakhutdinov, R. (2015).
International conference on learning representation.</div><br><div class="article-title"><a class="post-link" href="https://arxiv.org/pdf/1511.06342">Actor-mimic: deep multitask and transfer reinforcement learning</a>.
Parisotto, E., Ba, J.&nbsp;L., &amp; Salakhutdinov, R. (2015).
International conference on learning representation.</div><br><div class="article-title"><a class="post-link" href="http://www.jmlr.org/proceedings/papers/v37/xuc15.pdf">Show, attend and tell: neural image caption generation with visual attention</a>.
Xu, K., Ba, J., Kiros, R., Cho, K., Courville, A., Salakhudinov, R., … Bengio, Y. (2015).
International conference on machine learning (pp.&nbsp;2048–2057).</div><br><div class="article-title"><a class="post-link" href="https://papers.nips.cc/paper/5484-do-deep-nets-really-need-to-be-deep.pdf">Do deep nets really need to be deep?</a>
Ba, J., &amp; Caruana, R. (2014).
Advances in neural information processing systems (pp.&nbsp;2654–2662).</div><br><div class="article-title"><a class="post-link" href="http://papers.nips.cc/paper/5032-adaptive-dropout-for-training-deep-neural-networks.pdf">Adaptive dropout for training deep neural networks</a>.
Ba, J., &amp; Frey, B. (2013).
Advances in neural information processing systems (pp.&nbsp;3084–3092).</div>
  </div>

</section>
