---
layout: default
title: Home
---

{% include intro.html %}
{% include teaching.html %}

<section class="post-list">
  <div class="container">
  <a name="publications"></a>
  <h2 class="category-title">Research</h2>
  <span class="post-meta date-label">Selected publications:</span>
  <br>
  <br>
  <div class="article-title"><a class="post-link" href="https://arxiv.org/abs/1708.05144">Scalable trust-region method for deep reinforcement learning using Kronecker-factored approximation</a>, Wu, Y., Mansimov, E., Liao, S., Grosse, R., Ba, J., NIPS 2017.</div>
  <br>
  <div class="article-title"><a class="post-link" href="http://msb.embopress.org/content/13/4/924">Automated Analysis of High‐content Microscopy Data with Deep Learning</a>, Kraus, O., Grys, B., Ba, J., Chong, Y., Frey, B., Boone, C. and Andrews, B., Molecular Systems Biology, 2017.</div>
  <br>
  <div class="article-title"><a class="post-link" href="https://jimmylba.github.io/papers/nsync.pdf">Distrubted Second-order Optimization using Kronecker-factored Approximations</a>, Ba, J., Grosse, R. and Martens, J., ICLR, 2017.</div>
  <br>
  <div class="article-title"><a class="post-link" href="https://arxiv.org/pdf/1607.06450.pdf">Layer Normalization</a>, Ba, J., Kiros, J. R. and Hinton, G., arXiv preprint arXiv:1607.06450, 2016.</div>
  <br>
  <div class="article-title"><span class="post-link" >Using Fast Weight to Attend to the Recent Past</span>, Ba, J., Hinton, G., Mnih, V., Leibo, J. and Ionescu, C., NIPS 2016.</div>
  <br>
  <div class="article-title"><a class="post-link" href="http://bioinformatics.oxfordjournals.org/content/32/12/i52.full.pdf">Classifying Microscopy Images Using Convolutional Multiple Instance Learning</a>, Kraus, O., Ba, J. and Frey, B., Bioinformatics 32(12) 2016.</div>
  <br>
  <div class="article-title"><a class="post-link" href="https://arxiv.org/pdf/1511.02793.pdf">Generating Images From Captions with Attention</a>, Mansim, E., Parisotto, E., Ba, J. and Salakhutdinov, R., ICLR 2016.</div>
  <br>
  <div class="article-title"><a class="post-link" href="http://arxiv.org/pdf/1511.06342.pdf">Actor-Mimic: Deep Multitask and Transfer Reinforcement Learning</a>, Parisotto, E., Ba, J. and Salakhutdinov, R., ICLR 2016.</div>
  <br>
  <div class="article-title"><a class="post-link" href="https://papers.nips.cc/paper/5861-learning-wake-sleep-recurrent-attention-models.pdf">Learning Wake-Sleep Recurrent Attention Models</a>, Ba, J., Grosse, R., Salakhutdinov, R. and Frey, B., NIPS 2015.</div>
  <br>
  <div class="article-title"><a class="post-link" href="http://www.cv-foundation.org/openaccess/content_iccv_2015/papers/Ba_Predicting_Deep_Zero-Shot_ICCV_2015_paper.pdf">Predicting Deep Zero-Shot Convolutional Neural Networks using Textual Descriptions</a>, Ba, J., Swersky, K., Fidler, S. and Salakhutdinov, R., ICCV 2015.</div>
  <br>
  <div class="article-title"><a class="post-link" href="https://arxiv.org/pdf/1502.03044.pdf">Show, Attend and Tell: Neural Image Caption Generation with Visual Attention</a>, Xu, K., Ba, J., Kiros, R., Cho, K., Courville, A., Salakhutdinov, R., Zemel, R. and Bengio, Y., ICML 2015.</div>
  <br>
  <div class="article-title"><a class="post-link" href="https://arxiv.org/pdf/1412.6980.pdf">Adam: A Method for Stochastic Optimization</a>, Kingma D. and Ba, J., ICLR 2015.</div>
  <br>
  <div class="article-title"><a class="post-link" href="https://arxiv.org/pdf/1412.7755.pdf">Multiple Object Recognition with Visual Attention</a>, Ba, J., Mnih, V. and Kavukcuoglu K., ICLR 2015.</div>
  <br>
  <div class="article-title"><a class="post-link" href="https://arxiv.org/pdf/1312.6184.pdf">Do deep nets really need to be deep?</a>, Ba, J. and Caruana, R., NIPS 2014.</div>
  <br>
  <div class="article-title"><a class="post-link" href="https://papers.nips.cc/paper/5032-adaptive-dropout-for-training-deep-neural-networks.pdf">Adaptive Dropout for Training Deep Neural Networks</a>, Ba, J. and Frey, B., NIPS 2013.</div>
  <br>
  </div>

</section>
