---
layout: default
title: Home
---

{% include intro.html %}
{% include supervision.html %}
{% include teaching.html %}

<section class="post-list">
  <div class="container">
  <a name="publications"></a>
  <h2 class="category-title">Research</h2>
  <span class="post-meta date-label">Selected publications:</span>
  <br>

<div class="article-title"><a class="post-link" href="https://openreview.net/pdf?id=H1gBsgBYwH">Generalization of two-layer neural networks: an asymptotic viewpoint</a>.
Ba, J., Erdogdu, M., Suzuki, T., Wu, D., &amp; Zhang, T. (2020).
International conference on learning representations.</div><br>
<div class="article-title"><a class="post-link" href="https://arxiv.org/abs/1910.07512">On solving minimax optimization locally: a follow-the-ridge approach</a>.
Wang, Y., Zhang, G., &amp; Ba, J. (2020).
International conference on learning representations.
arXiv preprint arXiv:1910.07512.</div><br>
<div class="article-title"><a class="post-link" href="https://arxiv.org/abs/1902.08234">Interplay between optimization and generalization of stochastic gradient descent with covariance noise</a>.
Wen, Y., Luk, K., Gazeau, M., Zhang, G., Chan, H., &amp; Ba, J. (2020).
International conference on artificial intelligence and statistics.</div><br>
<div class="article-title"><a class="post-link" href="https://openreview.net/forum?id=Sklf1yrY">Batchensemble: an alternative approach to efficient ensemble and lifelong learning</a>.
Wen, Y., Tran, D., &amp; Ba, J. (2020).
International conference on learning representations.</div><br>
<div class="article-title"><a class="post-link" href="https://openreview.net/forum?id=HJeiDpVF">An inductive bias for distances: neural nets that respect the triangle inequality</a>.
Pitis, S., Chan, H., Jamali, K., &amp; Ba, J. (2020).
International conference on learning representations.</div><br>
<div class="article-title"><a class="post-link" href="https://openreview.net/forum?id=Byg9KJn4Fr">Towards characterizing the high-dimensional bias of kernel-based particle inference algorithms</a>.
Ba, J., Erdogdu, M.&nbsp;A., Ghassemi, M., Suzuki, T., Sun, S., Wu, D., &amp; Zhang, T.
(2019).
<em>preprint</em>.</div><br>
<div class="article-title"><a class="post-link" href="https://arxiv.org/abs/1902.04546">Actrce: augmenting experience via teacher's advice for multi-goal reinforcement learning</a>.
Chan, H., Wu, Y., Kiros, J., Fidler, S., &amp; Ba, J.
(2019).
<em>arXiv preprint arXiv:1902.04546</em>.</div><br>
<div class="article-title"><a class="post-link" href="https://arxiv.org/abs/1912.01603">Dream to control: learning behaviors by latent imagination</a>.
Hafner, D., Lillicrap, T., Ba, J., &amp; Norouzi, M. (2019).
International conference on learning representations.
arXiv preprint arXiv:1912.01603.</div><br>
<div class="article-title"><a class="post-link" href="https://arxiv.org/abs/1902.07257">Dom-q-net: grounded rl on structured language</a>.
Jia, S., Kiros, J., &amp; Ba, J. (2019).
International conference on learning representations.
arXiv preprint arXiv:1902.07257.</div><br>
<div class="article-title"><a class="post-link" href="http://papers.nips.cc/paper/9510-graph-normalizing-flows">Graph normalizing flows</a>.
Liu, J.&nbsp;S., Kumar, A., Ba, J., Kiros, J.&nbsp;R., &amp; Swersky, K. (2019).
Advances in neural information processing systems.</div><br>
<div class="article-title"><a class="post-link" href="https://takonan.github.io/takonan.github.io/docs/2019\_protoge\_rldm.pdf">Protoge: prototype goal encodings for multi-goal reinforcement learning</a>.
Pitis, S., Chan, H., &amp; Ba, J.
(2019).
<em>preprint</em>.</div><br>
<div class="article-title"><a class="post-link" href="https://arxiv.org/abs/1906.08649">Exploring model-based planning with policy networks</a>.
Wang, T., &amp; Ba, J. (2019).
International conference on learning representations.
arXiv preprint arXiv:1906.08649.</div><br>
<div class="article-title"><a class="post-link" href="https://arxiv.org/abs/1907.02057">Benchmarking model-based reinforcement learning</a>.
Wang, T., Bao, X., Clavera, I., Hoang, J., Wen, Y., Langlois, E., … Ba, J.
(2019).
<em>arXiv preprint arXiv:1907.02057</em>.</div><br>
<div class="article-title"><a class="post-link" href="https://arxiv.org/abs/1906.05370">Neural graph evolution: towards efficient automatic robot design</a>.
Wang, T., Zhou, Y., Fidler, S., &amp; Ba, J.
(2019).
<em>International Conference on Learning Representations</em>.</div><br>
<div class="article-title"><a class="post-link" href="http://papers.nips.cc/paper/9155-lookahead-optimizer-k-steps-forward-1-step-back">Lookahead optimizer: k steps forward, 1 step back</a>.
Zhang, M., Lucas, J., Hinton, G.&nbsp;E., &amp; Ba, J. (2019).
Advances in neural information processing systems (pp.&nbsp;9593&ndash;9604).</div><br>
<div class="article-title"><a class="post-link" href="https://graphreason.github.io/papers/36.pdf">Towards permutation-invariant graph generation</a>.
Liu, J., Kumar, A., Ba, J., &amp; Swersky, K.
(2018).
<em>preprint</em>.</div><br>
<div class="article-title"><a class="post-link" href="http://papers.nips.cc/paper/8117-reversible-recurrent-neural-networks">Reversible recurrent neural networks</a>.
MacKay, M., Vicol, P., Ba, J., &amp; Grosse, R.&nbsp;B. (2018).
Advances in neural information processing systems (pp.&nbsp;9029&ndash;9040).</div><br>
<div class="article-title"><a class="post-link" href="https://openreview.net/forum?id=HyMTkQZAb">Kronecker-factored curvature approximations for recurrent neural networks</a>.
Martens, J., Ba, J., &amp; Johnson, M. (2018).
International conference on learning representations.</div><br>
<div class="article-title"><a class="post-link" href="http://papers.nips.cc/paper/7940-on-the-convergence-and-robustness-of-training-gans-with-regularized-optimal-transport">On the convergence and robustness of training gans with regularized optimal transport</a>.
Sanjabi, M., Ba, J., Razaviyayn, M., &amp; Lee, J.&nbsp;D. (2018).
Advances in neural information processing systems (pp.&nbsp;7091&ndash;7101).</div><br>
<div class="article-title"><a class="post-link" href="https://openreview.net/forum?id=S1sqHMZCb">Nervenet: learning structured policy with graph neural networks</a>.
Wang, T., Liao, R., Ba, J., &amp; Fidler, S. (2018).
International conference on learning representations.</div><br>
<div class="article-title"><a class="post-link" href="https://arxiv.org/abs/1803.04386">Flipout: efficient pseudo-independent weight perturbations on mini-batches</a>.
Wen, Y., Vicol, P., Ba, J., Tran, D., &amp; Grosse, R.
(2018).
<em>International Conference on Learning Representations</em>.</div><br>
<div class="article-title"><a class="post-link" href="https://openreview.net/forum?id=SkkTMpjex\&noteId=rkgMSRKrx">Distributed second-order optimization using kronecker-factored approximations</a>.
Ba, J., Grosse, R., &amp; Martens, J. (2017).
International conference on learning representations.</div><br>
<div class="article-title"><a class="post-link" href="https://www.embopress.org/doi/abs/10.15252/msb.20177551">Automated analysis of high‐content microscopy data with deep learning</a>.
Kraus, O.&nbsp;Z., Grys, B.&nbsp;T., Ba, J., Chong, Y., Frey, B.&nbsp;J., Boone, C., &amp; Andrews, B.&nbsp;J.
(2017).
<em>Molecular systems biology</em>, <em>13</em>(4).</div><br>
<div class="article-title"><a class="post-link" href="http://papers.nips.cc/paper/7112-scalable-trust-region-method-for-deep-reinforcement-learning-using-kronecker-factored-approximation">Scalable trust-region method for deep reinforcement learning using kronecker-factored approximation</a>.
Wu, Y., Mansimov, E., Grosse, R.&nbsp;B., Liao, S., &amp; Ba, J. (2017).
Advances in neural information processing systems (pp.&nbsp;5279&ndash;5288).</div><br>
<div class="article-title"><a class="post-link" href="http://papers.nips.cc/paper/6057-using-fast-weights-to-attend-to-the-recent-past">Using fast weights to attend to the recent past</a>.
Ba, J., Hinton, G.&nbsp;E., Mnih, V., Leibo, J.&nbsp;Z., &amp; Ionescu, C. (2016).
Advances in neural information processing systems (pp.&nbsp;4331&ndash;4339).</div><br>
<div class="article-title"><a class="post-link" href="https://arxiv.org/abs/1607.06450">Layer normalization</a>.
Ba, J., Kiros, J.&nbsp;R., &amp; Hinton, G.&nbsp;E. (2016).
Advances in nips 2016 deep learning symposium (p.&nbsp;arXiv preprint arXiv:1607.06450).</div><br>
<div class="article-title"><a class="post-link" href="https://academic.oup.com/bioinformatics/article-abstract/32/12/i52/2288769">Classifying and segmenting microscopy images with deep multiple instance learning</a>.
Kraus, O.&nbsp;Z., Ba, J.&nbsp;L., &amp; Frey, B.&nbsp;J.
(2016).
<em>Bioinformatics</em>, <em>32</em>(12), i52-i59.</div><br>
<div class="article-title"><a class="post-link" href="https://arxiv.org/abs/1511.02793">Generating images from captions with attention</a>.
Mansimov, E., Parisotto, E., Ba, J., &amp; Salakhutdinov, R. (2016).
International conference on learning representations (p.&nbsp;arXiv preprint arXiv:1511.02793, 2015).</div><br>
<div class="article-title"><a class="post-link" href="https://arxiv.org/abs/1511.06342">Actor-mimic: deep multitask and transfer reinforcement learning</a>.
Parisotto, E., Ba, J., &amp; Salakhutdinov, R. (2016).
International conference on learning representations (p.&nbsp;arXiv preprint arXiv:1511.06342).</div><br>
<div class="article-title"><a class="post-link" href="https://arxiv.org/abs/1412.7755">Multiple object recognition with visual attention</a>.
Ba, J., Mnih, V., &amp; Kavukcuoglu, K. (2015).
International conference on learning representations.</div><br>
<div class="article-title"><a class="post-link" href="http://papers.nips.cc/paper/5861-learning-wake-sleep-recurrent">Learning wake-sleep recurrent attention models</a>.
Ba, J., Salakhutdinov, R.&nbsp;R., Grosse, R.&nbsp;B., &amp; Frey, B.&nbsp;J. (2015).
Advances in neural information processing systems (pp.&nbsp;2593&ndash;2601).</div><br>
<div class="article-title"><a class="post-link" href="https://www.cv-foundation.org/openaccess/content\_iccv\_2015/html/Ba\_Predicting\_Deep\_Zero-Shot\_ICCV\_2015\_paper.html">Predicting deep zero-shot convolutional neural networks using textual descriptions</a>.
Ba, J., Swersky, K., &amp; Fidler, S. (2015).
Proceedings of the ieee international conference on computer vision (pp.&nbsp;4247&ndash;4255).</div><br>
<div class="article-title"><a class="post-link" href="https://arxiv.org/abs/1412.6980">Adam: a method for stochastic optimization</a>.
Kingma, D., &amp; Ba, J.
(2015).
<em>preprint</em>.</div><br>
<div class="article-title"><a class="post-link" href="http://www.jmlr.org/proceedings/papers/v37/xuc15.pdf">Show, attend and tell: neural image caption generation with visual attention</a>.
Xu, K., Ba, J., Kiros, R., Cho, K., Courville, A., Salakhudinov, R., … Bengio, Y. (2015).
International conference on machine learning (pp.&nbsp;2048&ndash;2057).</div><br>
<div class="article-title"><a class="post-link" href="http://papers.nips.cc/paper/5484-do-deep-nets-really-need-to-be-deep">Do deep nets really need to be deep?</a>
Ba, J., &amp; Caruana, R. (2014).
Advances in neural information processing systems (pp.&nbsp;2654&ndash;2662).</div><br>
<div class="article-title"><a class="post-link" href="https://pdfs.semanticscholar.org/134e/e95e96d5c1e8eeca2625bfdb6d6acb939e71.pdf">Making dropout invariant to transformations of activation functions and inputs</a>.
Ba, J., Xiong, H.&nbsp;Y., &amp; Frey, B.
(2014).
<em>NIPS 2014 Workshop on Deep Learning</em>.</div><br>
<div class="article-title"><a class="post-link" href="http://papers.nips.cc/paper/5032-adaptive-dropout-for-training-deep-neural-networks">Adaptive dropout for training deep neural networks</a>.
Ba, J., &amp; Frey, B. (2013).
Advances in neural information processing systems (pp.&nbsp;3084&ndash;3092).</div>

  </div>

</section>
