<section class="intro">
  <div class="container">
    <p class="lead">I'm a fourth year PhD student in the Machine Learning group at the University of Toronto. I spend most of my research time thinking about learning algorithms for deep neural networks under the supervision of <a href="http://www.cs.toronto.edu/~hinton">Geoffrey Hinton</a>. My master degree was under <a href="http://www.psi.toronto.edu/~frey/">Brendan Frey</a> and <a href="http://www.cs.cmu.edu/~rsalakhu/">Ruslan Salakhutdinov</a>. I also did my undergrad at the University of Toronto.
    <br>
    <br>
    When I was not around Toronto, I did internships at Google Deepmind, Microsoft Research. I am very lucky to have received Facebook Graduate Fellowship 2016 in machine learning. My <a href="https://scholar.google.com/citations?user=ymzxRhAAAAAJ&hl">Google scholar page</a>.
    <br>
     -- contact me: jimmy at psi.toronto.edu</p>
    <br>
    <br>
    <br>
  </div>
</section>
