<section class="intro">
  <div class="container">
    <p class="lead">My long-term research goal is to address a computational question: How can we build general problem-solving machines with human-like efficiency and adaptability? In particular, my research interests focus on the development of efficient learning algorithms for deep neural networks. I am also broadly interested in reinforcement learning, natural language processing and artificial intelligence. </p>

    <p class="lead"><span style="font-weight: 600;">For future students</span>: I am starting the Assistant Professor position at the Department of Computer Science in mid 2018. Please apply through the <a href="http://web.cs.toronto.edu/Graduate/prospective_gradwhy/grad_admissions.htm">department admission</a>. </p>

    <p class="lead">Short bio: I'm completing my PhD under the supervision of <a href="http://www.cs.toronto.edu/~hinton">Geoffrey Hinton</a>.  Both my master (2014) and undergrad degrees (2011) are from the University of Toronto under <a href="http://www.psi.toronto.edu/~frey/">Brendan Frey</a> and <a href="http://www.cs.cmu.edu/~rsalakhu/">Ruslan Salakhutdinov</a>. I was a recipient of Facebook Graduate Fellowship 2016 in machine learning. </p>

    <p class="lead"> --<a href="https://scholar.google.com/citations?user=ymzxRhAAAAAJ&hl">Google scholar page</a> contact me: jba at cs.toronto.edu</p>
  </div>
</section>
