<section class="intro">
  <div class="container">
    <a name="supervision"></a>
    <h2 class="category-title">Current postdocs</h2>
    <p class="lead"><a href="https://bstadie.github.io/">Bradly C. Stadie</a>
    <br>
    <h2 class="category-title">Current students</h2>
    <p class="lead"><a href="https://takonan.github.io/">Harris Chan (joint with Sanja Fidler)</a> 
    <br>
    <p class="lead"><a href="https://danijar.com/">Danijar Hafner</a> 
    <br>
    <p class="lead">Jenny Liu 
    <br>
    <p class="lead"><a href="https://silviupitis.com/">Silviu Pitis</a> 
    <br>
    <p class="lead"><a href="http://www.cs.toronto.edu/~tingwuwang/">Tingwu Wang (joint with Sanja Fidler)</a> 
    <br>
    <p class="lead"><a href="http://www.cs.toronto.edu/~ywen/">Yeming Wen</a> 
    <br>
    <p class="lead"><a href="https://dblp.uni-trier.de/pers/hd/w/Wu:Denny">Denny Wu (joint with Marzyeh Ghassemi)</a>
    <br>
    <p class="lead"><a href="https://michaelrzhang.github.io/">Michael Zhang</a> 
    <br>
    <br>
    <br>
  </div>
</section>
