<section class="intro">
  <div class="container">
    <a name="teaching"></a>
    <h2 class="category-title">Teaching</h2>
    <p class="lead"><a href="http://www.cs.toronto.edu/~rgrosse/courses/csc421_2019/">CSC421: Neural Networks and Deep Learning (Winter 2019)</a> 
    <br>
    <p class="lead"><a href="http://csc2541-f18.github.io">CSC2541: Deep Reinforcement Learning (Fall 2018)</a> 
    <br>
    <p class="lead"><a href="http://ece521.github.io">ECE521: Inference Algorithms and Machine Learning (Spring 2017)</a> 
    <br>
    <br>
    <br>
  </div>
</section>
